#div1 {
  background-color: red;
  display: block;
  width: 30vw;
  height: 20vh;
  position: static;
  margin: 5px;
}
#div2 {
    background-color: red;
    display: block;
    width: 30vw;
    height: 20vh;
    margin: 5px;
    position: relative;
    top: 20px;
    left: 30px;
}
#div3 {
    background-color: red;
    display: block;
    width: 30vw;
    height: 20vh;
    margin: 5px;
    position: absolute;
    left: 200px;
}
#div4 {
    background-color: red;
    display: block;
    width: 30vw;
    height: 20vh;
    margin: 5px;
    position: fixed;
    top: 200px;
    left: 200px;
    
}

/* static
releative 
absolute
fixed */